__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.yaml
*.sqlite3
.idea/
.vscode/
.mypy_cache/
pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.tox/
.pylint.d/

# Ignore Git and Docker stuff
git/
.git/
.gitignore
Dockerfile
README.md

